<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/navbar.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{nav.html :: navbar}"></div>
🍎 작명이 안된 input 데이터는 서버로 전송이 안됨.<br>
action="/add"로 method="POST" 요청이 날아감.<br>
-> 서버로 돌아가서 저렇게 요청하면 이거저거 하는 기능 만들기. (엔드 포인트에서, 그게바로 API)
    <form action="/add" method="POST">
        <input name="title">
        <input name="price">
        <button type="submit">전송</button>
    </form>
</body>
</html>